@media (max-width: 1333px){
    .about-detail-div {
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        height: 485px;
        background-color: rgba(1, 1, 1, .6);
        border-radius: 10px;
        position: absolute;
        top: -20%;
        left: 2%;
    }
  
}
@media (max-width: 360px){
    .about-back-pic-mn {
        height: 673px !important;
        width: 100%;
        background-color: antiquewhite;
        margin-top: 22%;
        margin-bottom: 10%;
        position: relative;
    }
    .about-detail-div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 730px !important;
        background-color: rgba(1, 1, 1, .6);
        border-radius: 10px;
        position: absolute;
        top: -8%;
        left: 2%;
    }
    .about-overlay2 {
        background-color: black;
        height: 675px !important;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        opacity: 0.6;
    }
    .about-bac-pic {
        height: 675px !important;
        width: 100%;
    }
}
@media (max-width: 992px){
    .about-lg-hide{
        display: block;
        border-top: 1px solid #333333;
        border-left: 1px solid #666666;
        border-right: 1px solid #666666;
        border-bottom: 1px solid #333333;
        margin-bottom: 0px;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .cbout-heading{
        display: none;
    }
    .we {
        padding-top: 26%;
    }
    .about-border {
        border-top: none;
        border-left: 1px solid #666666;
        border-right: 1px solid #666666;
        border-bottom: 1px solid #666666;
    }
    .our {
       padding-top: 23%;
       padding-bottom: 10%;
    }
    .review-main-div {
        background-color: #0a0a0a;
        width: 100%;
        margin-top: 7%;
        margin-bottom: 7%;
        height: 440px;
        border-radius: 3%;
    }
    .review-head-div {
        background-color: #0a0a0a;
        width: 100%;
        margin-top: 7%;
        margin-bottom: 7%;
        height: 440px;
        border-radius: 3%;
    }
}
@media (max-width: 993px){
    .about-bottom-gap {
        padding-bottom: 3%;
    }
    .imgab {
        padding-top: 3%;
        width: 100%;
    }
    .detailtext{
        width: 100% !important;
        height: 450px;
        border-radius: 10px;
    }
    .about-detail-pic{
        display: none;
        width: 40% !important;
        height: 485px;
        background-image: url(images/about\ pic.jpg);
        border-radius: 10px;
        background-size: cover;
        clip-path: polygon(29% 0, 100% 0, 100% 100%, 0 100%);
    }
    .why-chose-us-responsive-mar{
        margin-top: 8%;
    }
}
@media (max-width: 640px){
    .about-back-pic-mn {
        height: 350px;
        width: 100%;
        background-color: antiquewhite;
        margin-top: 22%;
        margin-bottom: 10%;
        position: relative;
    }
}
@media (max-width: 576px){
    .about-h {
        position: absolute;
        top: 70%;
        left: 7%;
        background-color: transparent;
        display: inline;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 53px;
        color: #fff;
        line-height: 1.2;
        font-family: "Poppins", Arial, sans-serif;
    }
}

@media (max-width: 602px){
    .about-back-pic-mn {
        height: 436px;
        width: 100%;
        background-color: antiquewhite;
        margin-top: 22%;
        margin-bottom: 10%;
        position: relative;
    }
    .about-overlay2 {
        background-color: black;
        height: 436px;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        opacity: 0.6;
    }
    .about-bac-pic {
        height: 436px;
        width: 100%;
    }
    .about-detail-div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 485px;
        background-color: rgba(1, 1, 1, .6);
        border-radius: 10px;
        position: absolute;
        top: -12%;
        left: 2%;
    }
}
@media (max-width: 768px){
    .abouting-why {
        display: grid;
        justify-content: center;
    }
    .about-modrn {
        display: grid;
        justify-content: center;
    }
    .about-lg-hide{
        display: block;
        border-top: 1px solid #333333;
        border-left: 1px solid #666666;
        border-right: 1px solid #666666;
        border-bottom: none;
        margin-bottom: 0px;
        text-align: center;
        padding-top: 8%;
        padding-bottom: 3%;
    }
    .we {
        padding-top: 7%;
    }
    .our {
        padding-top: 9%;
        padding-bottom: 10%;
    }
}
@media (max-width: 430px){
    .about-back-pic-mn {
        height: 575px;
        width: 100%;
        background-color: antiquewhite;
        margin-top: 22%;
        margin-bottom: 10%;
        position: relative;
    }
    .about-overlay2 {
        background-color: black;
        height: 575px;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        opacity: 0.6;
    }
    .about-bac-pic {
        height: 575px;
        width: 100%;
    }
    .about-detail-div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 625px;
        background-color: rgba(1, 1, 1, .6);
        border-radius: 10px;
        position: absolute;
        top: -8%;
        left: 2%;
    }
    .review-head-div {
        background-color: #0a0a0a;
        width: 100%;
        margin-top: 7%;
        margin-bottom: 7%;
        height: 465px;
        border-radius: 3%;
    }
    .review-main-div {
        background-color: #0a0a0a;
        width: 100%;
        margin-top: 7%;
        margin-bottom: 7%;
        height: 401px;
        border-radius: 3%;
    }
    .abouting-why {
        display: grid;
        justify-content: center;
    }
    .about-modrn {
        display: grid;
        justify-content: center;
    }
    .why-chose-us-responsive-mar{
        margin-top: 8%;
    }
}


/* --------------------------------------------------------------------------------------------------------------------------------------------
                                            About page media query end 
-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------------------------------------------------------------------------
                                            COMMERCIAL PAGE media query START 
-----------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width : 992px){
    .business-heading {
        color: #e4a758;
        padding-top: 6%;
        padding-left: 4%;
        padding-bottom: 3%;
        padding-right: 4%;
        font-size: 40px;   
    }
    .exp2-detail-para-div {
       margin-left: 0%;
       width: 100%;
    }
    .smart-design-pic-div {
        height: 400px;
        width: 100%;
        margin-left: 0%;
    }
    .smart-design-overlay {
        margin-left: 0%;
        width: 100%;
        border-radius: 8px;
        height: 400px;
        background-color: rgba(1, 1, 1, .7);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .smart-design-pic {
        margin-left: 0%;
        height: 400px;
        width: 100%;
        background-image: url(images/sm.webp);
        background-position: center;
        background-size: cover;
        border-radius: 8px;
    }
}
@media (max-width : 899px){
    .experience-para {
        font-size: larger;
        font-weight: 400;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
    }
}
@media (max-width : 834px){
    .business-heading {
        color: #e4a758;
        padding-top: 6%;
        padding-left: 4%;
        padding-bottom: 3%;
        padding-right: 4%;
        font-size: 37px;   
    }
}
@media (max-width : 768px){
    .cmc-bs-mak-main {
        background-color: #0a0a0a;
        border-radius: 10PX;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        margin-bottom: 6%;
    }
    .business-heading {
        color: #e4a758;
        padding-top: 6%;
        padding-left: 4%;
        padding-bottom: 3%;
        padding-right: 4%;
        font-size: 50px;
    }
    .experience-para {
        font-size: x-large;
        font-weight: 400;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
    }
}
@media (max-width : 680px){
    .commercial-heading {
        position: absolute;
        top: 70%;
        left: 7%;
        background-color: transparent;
        display: inline;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 53px;
        color: #fff;
        line-height: 1.2;
        font-family: "Poppins", Arial, sans-serif;
        
    }
}
@media (max-width : 557px){
    .commercial-pic-div {
        background-image: url(images/1320df6….jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height: 393px;
        margin-bottom: 5%;
        position: relative;
    }
    .commercial-para-overlay {
        background-color: rgba(1, 1, 1, .7);
        width: 100%;
        height: 395px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
@media (max-width : 506px){
    .business-heading {
        color: #e4a758;
        padding-top: 6%;
        padding-left: 4%;
        padding-bottom: 3%;
        padding-right: 4%;
        font-size: 40px;
    }
}
@media (max-width : 430px){
    .main-picture-exp2 {
        width: 100%;
        height: 600px;
        position: relative;
        background-color: aqua;
    }
}
@media (max-width : 410px){
    .commercial-heading {
        position: absolute;
        top: 70%;
        left: 7%;
        background-color: transparent;
        display: inline;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        color: #fff;
        line-height: 1.2;
        font-family: "Poppins", Arial, sans-serif;
        
    }
    .business-heading {
        color: #e4a758;
        padding-top: 6%;
        padding-left: 4%;
        padding-bottom: 3%;
        padding-right: 4%;
        font-size: 30px;
        
    }
    .commercial-pic-div {
        background-image: url(images/1320df6….jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height: 494px;
        margin-bottom: 5%;
        position: relative;
    }
}